grpcio
asyncio
time
pydantic
socket
subprocess
platform
psutil
json
typing
functools
PyYAML
grpcio-tools
pywin32
ssl
logging
sys
os
yaml
pathlib
threading
win32serviceutil
win32service
win32event
servicemanager
