.container {
    flex: 1;
    background-color: var(--background-color-6);
    overflow: hidden;
}

.stack {
    padding: var(--mantine-spacing-md);
    gap: var(--mantine-spacing-xs);
    height: 100%;
    position: relative;
}

.title {
    font-weight: 600;
}

.progressBarStack {
    flex: 1;
    justify-content: start;
    gap: 14;
}
