/* OverallDeviceStorageWidget.module.css */

/* Container for the entire widget */
.container {
    flex: 1;
    height: 100%;
    overflow: hidden;
    
}

/* Flex container for centering the chart and the separator Paper */
.centeredContainer {
  display: flex;
  width: 100%;
  height: 100%;
}


/* Separator Paper element between the DonutChart */
.separator {
    background-color: blue;
    width: 10%;
    height: 30px;
}

/* Flex container for the text, ensuring it aligns vertically */
.textContainer {
    display: flex;
    /*flex-direction: column;        Stack the text vertically */
    align-items: center;          /* Center the text horizontally */
    justify-content: center;      /* Center the text vertically within its container */
}

/* Style for the chart label text */
.chart :global(text) {
    fill: var(--background-color-1);  /* This makes the text color the same as background color 1 */
}
