.deleteButton {
    position: absolute !important;
    right: 2px !important;
    top: 8px !important;
    /* important for logic - it cannot be clicked without it: */
    z-index: 100;
}

.paper {
    flex: 1;
    background-color: var(--background-color-6);
    overflow: hidden;
    padding: var(--mantine-spacing-md);
}
