.layoutGroup {
    display: flex;
    width: 100%;
    max-width: 300px;
}

.button {
    border: none !important;
    background: var(--background-color-5) !important;
    padding-left: var(--mantine-spacing-xs) !important;
    padding-right: var(--mantine-spacing-xs) !important;
}

.dropdownButton {
    border-radius: 6px 0 0 6px !important;
}

.textInput {
    flex: 1;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    border-radius: 0 !important;
    height: 36px;
}

.textInputInput {
    &:focus-within {
        border-color: transparent !important;
    }
}

.deleteButton {
    border-radius: 0 6px 6px 0 !important;
}

.dropdownMenu {
    background: var(--background-color-7) !important;
}

.option {
    &:hover {
        background: var(--background-color-6) !important;
    }
}
